# Compiled Java files
*.class

# Build directories
bin/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
**/*.class
bin/es/upm/dit/cnvr_fcon/bank_2025/bank/*.class
bin/es/upm/dit/cnvr_fcon/bank_2025/common/*.class
bin/es/upm/dit/cnvr_fcon/bank_2025/interfaces/*.class
